.footer {
    background-color: #002F69;
}

.socials {
    padding-top: 20px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.socials h3 {
    margin-bottom: 10px;
}


.footer p,
.footer h3,
.footerItems li {
    font-family: "Lato", sans-serif;
    color: #EEEEF0;
    max-width: 250px;
    margin-right: 3px;

}

.footer i {
    color: #EEEEF0;

}

.footerItems {
    padding-top: 50px;
    display: flex;
    justify-content: space-around;

}

.footerItems ul {
    padding: 0;
}

.footerItems li {
    list-style: none;
    margin-bottom: 5px;
}

.sMedia i {
    margin-left: 10px;
}

@media only screen and (max-width: 600px) {
    .footer h3 {
        font-size: 15px;
    }


    .footer p,
    .footer li {
        font-size: 13px;
    }

}